

  <div class="parallax-content baner-content" id="home">
    <p>
      <label for="">
        {{'home.SELECT'| translate}}
        <select #langselect (change)="translate.use(langselect.value)" >
          <option  *ngFor="let lang of translate.getLangs() " [value]="lang" >{{lang}} </option>
        </select>
      </label>
    </p>
    <div class="container">
      <div class="text-content">
        <h2><em>TINKER</em> <span>HTML5</span> {{'homePage.TEMPLATE'|translate}}</h2>
        <p>{{'homePage.TEXT'|translate}}</p>
        <div class="primary-white-button">

          <a href="#" class="scroll-link" data-id="about">{{'homePage.BUTTON'|translate}}</a>
        </div>
      </div>
    </div>
  </div>


<router-outlet></router-outlet>
<app-footer></app-footer>
